table{
   border-collapse: collapse; 
   font-size: 0.9em;
   width: 100%;
   

}
thead tr th {
    background-color: aquamarine;
    border: solid rgb(167, 30, 30) 1px;
    padding: 2rem;
    text-align: left;
    font-weight: bold;
   
}
 
th,td{
   text-align: center;
   
    
}
tbody tr td{
    border: solid black 1px;
  
}
tbody tr:nth-of-type(even){
background-color: rgb(35, 163, 163);
}
.tablebar{
    padding-top: 2rem;
    border: solid black 1px;
    width: 100%;
   
}
.page{
    border: solid black 1px;

}
.settings{
   text-align: right; 
  padding-right: 0.2em;
  
}
.topbox{
    display: inline-flex;
    padding: 0.2rem;
    justify-content: space-around;
    
 
}
.topbox div{
    margin-left: 1rem;
}